<nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-gray-800 rounded-b-lg" aria-label="Global">
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-baseline space-x-4">
        <a class="font-medium bg-gray-800 hover:bg-gray-700 text-gray-400 hover:text-gray-100 px-3 py-2 rounded-md" href="/">Home</a>
        <a class="font-medium bg-gray-800 hover:bg-gray-700 text-gray-400 hover:text-gray-100 px-3 py-2 rounded-md" href="/about">Bio</a>
      </div>      
    </div>
  </div>
</nav>
